 <div>
  <div class="right-content-body">
    <div *ngFor="let employee of employees" class="card clickable" (click)="viewEmployee(employee)">
      <img class="image" src={{employee.img}}>
      <div class="card-text">
        <p class="name"> {{employee.firstName }} {{employee.lastName }}</p>
        <p class="job-title"> {{ employee.jobTitle }}</p>
        <p class="department">
          {{employee.department}} Department<div class="icons-container">
            <img src="assets/image-assets/icons/phone.png" class="icon">
            <img src="assets/image-assets/icons/message.png" class="icon">
            <img src="assets/image-assets/icons/chat.png" class="icon">
            <img src="assets/image-assets/icons/star.png" class="icon">
            <img src="assets/image-assets/icons/like.png" class="icon" />
          </div>
      </div>
    </div>
  </div>
  <div class="edit-employee-form" *ngIf="isViewDataVisible" name="EditDataForm">
    <a id="edit" class="clickable color-blue" (click)="enableEdit()">edit</a>
    <p class="heading"> Employee Details</p>
    
    <form #editForm="ngForm" (ngSubmit)="updateData(editForm)">
      <label for="first-name">First Name*</label>
      <input id="first-name" [readonly]="isReadOnly" [ngModel]=viewDataEmployee.firstName name="firstName" required maxlength="25" >
      <label for="last-name">Last Name*</label>
      <input id="last-name" [readonly]="isReadOnly" [ngModel]=viewDataEmployee.lastName name="lastName" required>
      <label for="email">Email*</label>
      <input id="email" [readonly]=true [ngModel]=viewDataEmployee.email name="email" required>
      <label for="phone-number">Phone Number*</label>
      <input id="phoneNumber" [readonly]="isReadOnly" [ngModel]=viewDataEmployee.phoneNumber name="phoneNumber" required pattern="[0-9]+" >
      <label for="office">Office*</label>
      <input id="office" [readonly]="isReadOnly" [ngModel]=viewDataEmployee.office name="office" required>
      <label for="department">Department*</label>
      <input id="department" [readonly]="isReadOnly" [ngModel]=viewDataEmployee.department name="department" required>
      <label for="job-title">Job Title*</label>
      <input id="job-title" [readonly]="isReadOnly" [ngModel]=viewDataEmployee.jobTitle name="jobTitle" required>
      <label for="skype-id">Skype Id*</label>
      <input id="skype-id" [readonly]="isReadOnly" [ngModel]=viewDataEmployee.skypeId name="skypeId" required>
      <button id="update" *ngIf="isButtonVisible" class="clickable">Update </button>
      <button id="cancel" class="clickable" (click)="hideForm()"> Cancel</button>
    </form>
     
  </div>

</div>
