.right-content-body {
  height: auto;
  margin: 10px 0px 5px 5px;
  border: 1px solid #d3d3d3;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 110px
}
 .card {
  background-color: #e9e8e8;
  margin: 10px 5px 5px 10px;
  padding: 5px;
  height: 80px;
}

 .card img {
    float: left;
    width: 30%;
    height: 75px;
    margin-top: 3px;
    margin-left: 3px;
  }

  .card-text {
  float: right;
  width: 65%;
  font-size: 12px;
}

  .card-text .department,
  .card-text .job-title {
    color: #656565;
  }
 .card-text .name {
    font-weight: bold;
    padding: 5px 0px 5px 0px;
  }

  .card-text .icon {
    height: 15px;
    width: 15px;
    margin: 5px 5px 7px 0px;
  }
.edit-employee-form{
    position:fixed;
    height:auto;
    top:20px;
    left:800px;
    width:auto;
    background:white;
    padding:20px;
    outline:2px solid black; 
}
 
.edit-employee-form input{
    display:block;
    width:auto;
    margin-bottom:10px;
    padding:2px;
    min-width:180px;
    min-height:20px;
}
.edit-employee-form label{
    font-size:15px;
}
.edit-employee-form .heading{
    font-size:15px;
    font-weight:bold;
    padding-bottom:10px;
}
.edit-employee-form a{
    float:right;
    font-size:15px;
   
    display:inline;
    text-decoration:underline;
}

  .edit-employee-form button{
      padding:5px;
      margin:3px; 
  }
