<div class="left-content display-inline-block">
  <div class="department">
    <p class="heading">Department</p>
    <ul class="department-list">
      <li *ngFor="let employee of loadDeartmentFrequency()" (click)="onClick('department',employee.department)" class="clickable">{{ employee.department }} ({{employee.count}})</li>
    </ul>
  </div>

  <div class="offices">
    <p class="heading">Offices</p>
    <ul class="offices-list">
      <li *ngFor="let office of loadOfficeFrequency()" (click)="onClick('office',office.name)" class="clickable">{{ office.name }} ({{office.count}})</li>
    </ul>
  </div>
  <div class="job-title">
    <p class="heading">Job Title</p>
    <ul class="job-title-list">
      <li *ngFor="let jobTitle of loadJobTitleFrequency()" (click)="onClick('jobTitle',jobTitle.jobTitle)"  class="clickable">{{ jobTitle.jobTitle }} ({{jobTitle.count}})</li>
    </ul>
  </div>
  <span class="color-blue view-more clickable">view more</span>
</div>
