app-employee-list {
  height: auto;
  width: 1010px;
  margin-top: 20px;
  vertical-align: top;
  display:inline-block;
}
app-department, app-office, app-job-title{
    width:200px;
    height:auto;
}
.left-filter{
    width:auto;
    display:inline-block;
}
