.left-content {
  height: auto;
  width: 220px;
  margin-left: 40px;
  margin-right: 20px;
  padding-top: 20px;
}
.left-content .heading {
    font-weight: bold;
    margin-bottom: 10px;
  }

 .left-content li {
    list-style: none;
    padding: 3px;
  }

  .left-content .department {
    margin-bottom: 40px;
  }

 .left-content .offices {
    margin-bottom: 40px;
  }
  .left-content .job-title {
    margin-bottom: 10px;
  }
 .left-content .view-more {
    padding-bottom: 40px;
     
  }
