 
<div>
  <img class="select-all-data clickable display-inline-block" (click)="alphabetSearchBlock('')" src="assets/image-assets/icons/person.png" />
  <div *ngFor="let alphabet of alphabets" class="alphabet-filter display-inline-block">
    <button class="alphabet-filter-card clickable " (click)="alphabetSearchBlock(alphabet)"> {{alphabet}}   </button>
  </div>
  <div class="search-window display-inline-block">
    <span class="search-heading">Search</span>
    <img src="assets/image-assets/mag-glass.png" (click)="searchByCharacter(spinnerData.value,searchValue);" class="mag-glass clickable">
    <input type="text" id="search-bar"  [(ngModel)]="searchValue"  placeholder="Enter any Keyword">
    <button (click)="clearSearchbar()" id="search-clear-button" class="clickable color-white">Clear</button>
    <span class="filter-heading" id="filter-by-text"> Filter By </span>
    <select #spinnerData class="filter-by-list clickable">
      <option value="prefferedName">Preferred Name</option>
      <option value="jobTitle">Job Title</option>
      <option value="office">office</option>
      <option value="department">department</option>
    </select>
  </div>
  <button class="show-add-employee-window-button clickable" [routerLink]="['/save']">Add Employee</button>
  <p><b>Note:</b> Please use the advanced filter options to refine your results.</p>
  
  </div>
