<div class="add-employee-window">
  <form  class="add-employee-form" #submitForm="ngForm" (ngSubmit)="onSubmit(submitForm)">
    <p> Employee Details</p>
    <span id="email-text" class="color-blue"></span>
    <h5>Name</h5>
    <input [ngModel]=employee.firstName name="firstName" id="first-name" placeholder="Enter Your First Name*" type="text" required maxlength="25">
    <input [ngModel]=employee.lastName id="last-name" name="lastName" placeholder="Your last Name please*" type="text" required maxlength="25">
    <h5>Email</h5>
    <input [ngModel]=employee.email id="email" name="email" placeholder="Enter Your email*" type="text" required pattern="^\S+@\S+$">
    <h5>Phone number</h5>
    <input [ngModel]=employee.phoneNumber id="phone-number" name="phoneNumber" placeholder="Enter phone number*" type="text" required pattern="[0-9]+">
    <h5>Skype-id</h5>
    <input [ngModel]=employee.skypeId id="skype-id" name="skypeId" placeholder="Enter Your skype id*" type="text" required>
    <h5>Job-Title</h5>
    <select [ngModel]=employee.jobTitle id="job-title" name="jobTitle" required>
      <option *ngFor="let jobTitle of jobTitles" value="{{jobTitle.name}}" required>{{jobTitle.name}}</option>
    </select>
    <h5>Office</h5>
    <select [ngModel]=employee.office id="office" name="office" required>
      <option *ngFor="let office of offices" value="{{office.name}}">{{office.name}}</option>
    </select>
    <h5>Department</h5>
    <select [ngModel]=employee.department id="department" name="department" required>
      <option *ngFor="let department of departments" value="{{department.name}}">{{department.name}}</option>
    </select>

    <button type="submit" id="submit" class="clickable"  >Save</button>
    <button type="button"   id="cancel" class="clickable" [routerLink]="['/']">Cancel</button>
  </form>
</div>
